:root {
  --number: 16;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: cornflowerblue;
  height: 100%;
  width: 100%;
}

#newSketchpadBtn {
  margin: 10px 10px 0px 10px;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 1.2rem;
}

#newSketchpadBtn:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

#handheld {
  height: 600px;
  width: 800px;
  margin: 0px auto 20px auto;
  padding: 10px 25px;
  background-color: red;
  border-radius: 10%;
  box-shadow: 10px -10px 0px 2px darkred;
}

h1 {
  color: gold;
  font-family: cursive;
  text-align: center;
  margin: 10px;
}

#pad {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.dial {
  background-color: whitesmoke;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  box-shadow: 1px -3px 0px 2px lightgrey;
}

#screen {
  display: grid;
  grid-template-columns: repeat(var(--number), 1fr);
  height: 500px;
  width: 500px;
}

.box {
  aspect-ratio: 1 / 1;
  outline: 1px solid darkgray;
  background-color: grey;
}
