body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

button {
    height: 50px;
    width: 30vw;
    margin-right: 50px;
    font-size: medium;
}

.header {
    display: flex;
    width: 100%;
    background-color: #1F2937;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pad {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex: none;
    flex-wrap: wrap;
    height: 1600px;
    width: 1600px;
    margin-top: 50px;
    border: 1px solid;
}