body {
    height: 100vh;
    width: 100vw;
}

button {
    height: 50px;
}

#container {
    display: flex;
    flex: none;
    flex-wrap: wrap;
    width: 1600px;
    height: 1600px;
}

box {
    display: flex;
    flex: auto;
    height: 100px;
    width: 100px;
}